#comment{
    display:flex;flex-direction:column;height:100%;position: relative;
    .head{
        box-sizing:border-box;width:100%;height: 2.0rem;position:absolute;z-index: 999;color: #fff;top: 0.625rem;left:0;padding:0 0.625rem;
        i{
            display:block;width: 2.0rem;height: 2.0rem;line-height: 2.0rem;text-align: center;background-color: rgba(0,0,0,0.2);border-radius: 50%;font-size: 1.25rem;
        }
        .goback{
            float:left;
        }
        .share{
            float:right;
        }
    }
    .head2{
        box-sizing:border-box;width:100%;height: 2.5rem;line-height:2.5rem;position:absolute;z-index: 999;padding:0 0.625rem;background: #fff;text-align: center;font-size: 1rem;border-bottom:0.03125rem solid #ccc;
        i{
            text-align: center;font-size: 1.25rem;
        }

        .goback2{
            float:left;
            span{position: absolute;font-size: 0.8rem;}
        }
        .share2{
            float:right;
        }
    }
    .comment-container{
        flex:1;overflow-x:hidden;padding-bottom: 50px;
        .swiper-slide{width:100%;height:56%;}
        .swiper-pagination-bullet-active{background: #FFD914;}
        .fabiao{
            width:100%;padding:0 0.625rem;border-bottom: 0.03125rem solid #ccc;
            .fabiao-top{
                width:100%;height:3.25rem;line-height:2.0rem;border-bottom: 0.03125rem solid #ccc;padding:0.625rem 0;
                .userimg-box{
                    width:2.0rem;height:2.0rem;float:left;
                    img{width:100%;border-radius:1.0rem;}
                }
                .Cname{
                    padding-left:1.0rem;font-size:1.0rem;
                }
                .icon-shixincaidan{
                    float:right;font-size: 1rem;
                }
            }
            .fabiao-connent{
                p{
                    margin: 0.5rem;font-size:0.8125rem
                }
                .zan_xin{
                    width:50%;height:5.0rem;margin:0.015625rem auto;
                    i{
                        font-size:2.0rem;display:block;width:3.0rem;height:3.0rem;border:0.03125rem solid #ccc;border-radius:50%;
                    }
                    div{
                        font-size:1.0rem;
                    }
                    .dianzan{
                        width:3.0rem;float:left;text-align:center;
                    }
                    .shoucang{
                        width:3.0rem;float:right;text-align:center;
                    }
                    .actived{
                        color:#FFD914;border-color:#FFD914;
                    }
                }
            }
        }
        .dianzan_p{
            width:100%;border-bottom: 0.03125rem solid #ccc;padding:0.625rem;
            .zan_tx{
                .zan_txb{
                    display:inline-block;width:1.5rem;height:1.5rem;
                    img{width:100%;border-radius:1.0rem;}
                }
            }
            .zan_cx{
                text-align:center;
            }
        }
        .ht_top{
            width:100%;height:3.0rem;line-height:1.71875rem;border-bottom: 0.03125rem solid #ccc;padding:0.625rem;font-size:0.8125rem;
            .ht_count{float:left;}
            .ht_tab{
                float:right;
                span{
                    display: inline-block;width: 3.125rem;border:0.03125rem solid #ccc;text-align:center;
                }
                span:nth-child(1){
                    background: #ccc;border-radius: 0.3125rem 0 0 0.3125rem;
                }
                span:nth-child(2){
                    border-radius: 0 0.3125rem 0.3125rem 0;
                }
            }
        }
        .ht_content{
            width:100%;border-bottom: 0.03125rem solid #ccc;padding:0.625rem;font-size:0.8125rem;
            .ht_ren{
                width:100%;height:3.25rem;line-height:2.0rem;
                .ht_userimg-box{
                    width:2.0rem;height:2.0rem;float:left;
                    img{width:100%;border-radius:1.0rem;}
                }
                .ht_name{
                    padding-left:1.0rem;font-size:0.5rem;
                }
                .icon-shixincaidan{
                    float:right;font-size: 1rem;
                }
            }
            p{
                font-size: 0.8125rem;
            }
            .ht_bt{
                margin-top:0.5rem;
                .ht_time{
                    float:left;
                }
                .ht_z_pl{
                    float:right;
                }
            }
        }
    }
    .comment_addmyht{
        width:100%;height:2.8125rem;background: #FFD914;line-height: 2.8125rem;text-align: center;font-size: 1rem;
        i{padding:0 0.625rem;}
    }
}