<div id="comment">
    <div class="head" *ngIf="headShow">
        <i class="goback iconfont icon-fanhui" (click)="goBack()"></i>
        <i class="share iconfont icon-share"></i>
    </div>
    <div class="comment-container">
        <div class="swiper-container">  
            <div class="swiper-wrapper">  
                <img class="swiper-slide" *ngFor= "let item of groundImg" src={{item}}/>  
            </div>  
            <div class="swiper-pagination"></div>
        </div>
        <div class="fabiao">
            <div class="fabiao-top">
                <div class="userimg-box">
                    <img src="{{userimgurl}}" alt="" />
                </div>
                <span class="Cname">{{Cname}}</span>
                <i class="iconfont icon-shixincaidan"></i>
            </div>
            <div class="fabiao-connent">
                <p>{{fabiao}}</p>
                <div class="zan_xin">
                    <div class="dianzan">
                        <i class="iconfont icon-good"></i>
                        <span>{{dianzan_count}}</span>
                    </div>
                    <div class="shoucang">
                        <i class="iconfont icon-xin"></i>
                        <span>{{shoucang_count}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>