#comment{
    display:flex;flex-direction:column;height:100%;position: relative;
    .head{
        box-sizing:border-box;width:100%;height: 2.0rem;position:absolute;z-index: 999;color: #fff;top: 0.625rem;left:0;padding:0 0.625rem;
        i{
            display:block;width: 2.0rem;height: 2.0rem;line-height: 2.0rem;text-align: center;background-color: rgba(0,0,0,0.2);border-radius: 50%;font-size: 1.25rem;
        }
        .goback{
            float:left;
        }
        .share{
            float:right;
        }
    }
    .comment-container{
        flex:1;overflow-x:hidden;
        .swiper-slide{width:100%;height:56%;}
        .swiper-pagination-bullet-active{background: #FFD914;}
        .fabiao{
            width:100%;padding:0 0.625rem;border-bottom: 0.03125rem solid #ccc;
            .fabiao-top{
                width:100%;height:3.25rem;line-height:2.0rem;border-bottom: 0.03125rem solid #ccc;padding:0.625rem 0;
                .userimg-box{
                    background: #000;width:2.0rem;height:2.0rem;float:left;border-radius:1.0rem;
                }
                .Cname{
                    padding-left:1.0rem;font-size:1.0rem;
                }
                .icon-shixincaidan{
                    float:right;font-size: 1.5rem;
                }
            }
            .fabiao-connent{
                p{
                    margin-top: 0.5rem;
                }
            }
        }
    }
}