
  .showProduct{
    .show-top{
      overflow:hidden;
      padding-bottom:10px;
    }
    .show-title{
      height:80px;
      line-height:80px;
      text-align:center;
      font-size:17px;
      font-weight:900;
    }
    .userImg{
      width:32px;
      height:32px;
      float:left;
      margin:0 4%;
    }
    .showImg{
      width:100%;
      height:300px;
    }
  }
.showProduct .swiper-slide {
      height:480px;
      font-size: 18px;
      background: #fff;
    }