<div class="showProduct">
<div class="show-title">达人SHOW</div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"*ngFor="let obj of showproduct"> 
        <div class="show-top">
          <img src="{{obj['userimgurl']}}" alt=""class="userImg" />
          <span class="show-name">{{obj['name']}}</span>
        </div>
          <img src="{{obj['imgurl']}}"(click)="turn(obj.id)"class="showImg"/>
        <div class="">{{obj['fabiao']}}</div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>