
  .showProduct{
    .swiper-pagination{
      bottom:10px;
    }
    ul{
      font-family: PingFangSC-Regular;
      color: #4a4a4a;
      //color: #777;
       font-size: .77777778rem;
      li{
        width: 96%;
        margin: 0 auto;
        border-bottom: 6px solid #F2F1F0;
      }
    }
    .fabiao{
      height:130px;
      margin-left: 8px;
      padding-top: 9px;
      font-size:15px;
      padding-bottom: 30px;
      border-top: 2px solid #F2F1F0 ;
    }
    .dsp{
          font-size: 15px;
          margin-left:8px ;
          height: 45px;
          line-height: 45px;
          .iconfont{
              font-size: 20px;
          }
          #dsc_1{
              border: none;
              height: 15px;
              width: 50px;
              padding-right: 25px;
          }
      }

    .show-top{
      background:#f1eded78;
      overflow:hidden;
      padding-bottom:16px;
      margin-left: 5px;
      line-height: 39px;
    }
    .show-title{
      background:#f1eded78;
      padding-top:30px;
      text-align:center;
      font-size:17px;
      font-weight:900;
    }
    .userImg{
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 40px;
    }
    .showImg{
      width: 96%;
      margin: 0 auto;
      height: 330px;
      border-radius: 1.5%;
    }
  }
.showProduct .swiper-slide {

      font-size: 18px;
      background: #fff;
    }