.seek{
    .homecate{
        .goodsImg{
            height:300px;
            width:100%;
        }
        .proName{
            text-align:center;
            padding:6px 0;
        }
        .price{
            text-align:center;
            padding-bottom:10px;
            color:red;
        }
        .price:before{
          content:"¥"
        }
    }
}