<div class="cart">
    <header class="carthead">
        <getback></getback>
        我的购物车
    </header>
    <div class="cartmaintop">
            <div class="cartmaintop_common"><span>√</span>30天无忧退货</div>
            <div class="cartmaintop_common"><span>√</span>24小时快速发货</div>
            <div class="cartmaintop_common"><span>√</span>全场满88包邮</div>
    </div>
    <main class="cartmain">
        <div class="cartmainbottom" [ngSwitch]="cartItem.length">
            <div class="cartmainbottom_empty" *ngSwitchCase="0">
                <div class="cartmainbottom_empty_top">
                    <img src="http://creatily.top/assets/img/cart/cartempty.png"  alt="" />
                    <div>购物车该补货啦</div>
                    <span routerLink="/home">去商城逛逛</span>
                </div>
                <div class="cartmainbottom_empty_main"><span></span>看看这些精品推荐<span></span></div>
                <ul class="cartmainbottom_empty_bottom">
                    <li *ngFor="let obj of carthot" routerLink="/detail/{{obj.id}}">
                        <img [src]="obj.imgurl" alt="" />
                        <p>{{obj.proName}}</p>
                        <span>￥{{obj.price.split(',')[0]}}</span>
                    </li>
                </ul>
            </div>
            <div class="cartmainbottom_full" *ngSwitchDefault>
                <ul>
                    <li *ngFor="let obj of cartItem;let idx = index;">
                        <input type="radio" [checked]="currentTrIndexs.indexOf(idx) > -1" (click)="selectTr(idx,obj)"/>
                        <img [src]="obj.imgurl" routerLink="/detail/{{obj.goodsid}}"/>
                        <div class="cartmainbottom_full_center">
                            <p>{{obj.proname}}</p>
                            <span class="cartmainbottom_full_center_c" *ngIf="obj['size'] && obj['size'].length>0">类型：{{obj.size}}</span>
                            <span class="cartmainbottom_full_center_c" *ngIf="!obj['size'] && obj['color'].length>0 && obj['color']">颜色：{{obj.color}}</span>
                            <!-- <div class="cartmainbottom_full_qty">
                                <span>-</span>
                                <input type="text" >
                                <span>+</span>
                            </div> -->
                            <div class="select-box"> 
                                <span class="select-btn stockCountSub" (click)="stockCountSub(obj.indexid,obj.count,obj.price,idx,obj)">-</span> 
                                <input class="select-btn select-num" type="text" [(ngModel)]="obj.count"  readonly="readonly"> 
                                <span class="select-btn stockCountAdd" (click)="stockCountAdd(obj.indexid,obj.count,obj.price,idx,obj)">+</span> 
                            </div>

                        </div>
                        <div class="cartmainbottom_full_bottom">
                            <i class="iconfont icon-icon--" (click)="success(obj.indexid)"></i>
                            <span>￥{{obj.price}}</span>                           
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <div class="cartfoot" *ngIf="cartItem.length>0">
        <div (click)="selectAll()">
            <input type="radio" [checked]="currentTrIndexs.length === dataset.length" />全选
        </div>
        <p>总计（不含运费）：<span>￥{{dataCountSetPrice}}</span></p>
        <span class="cartfoot_right" (click)="addOrder()">立即下单</span>
    </div>
    <footer *ngIf="cartItem.length==0"></footer>
</div>