.cart{display:flex;flex-direction:column;height:100%;
    .carthead{
        height:2.65625rem;display:flex;line-height:2.65625rem;justify-content:center;font-size:0.875rem;
    }
    .cartmain{
        flex:1;
        .cartmaintop{
            display:flex;justify-content:space-around;height:2.8125rem;border:0.087813rem solid #F0EFEE;line-height:2.8125rem;color:#9B9B9B;
            .cartmaintop_common{
                display:flex;
                span{
                    border:0.03125rem solid #9B9B9B;border-radius:50%;display:inline-block;height:0.6875rem;width:0.6875rem;align-self:center;line-height:0.6875rem;text-align:center;margin-right:0.3125rem;
                }
            }
        }
        .cartmainbottom{
            .cartmainbottom_empty_top{
                display:flex;flex-direction:column;justify-content:space-around;
                img{
                    align-self:center;
                }
                div{
                    align-self:center;height:3.75rem;line-height:3.75rem;
                }
                span{
                    align-self:center;height:2.1875rem;line-height:2.1875rem;color:#FEE295;border:0.065625rem solid #FEE295;border-radius:0.15625rem;width:6.375rem;text-align:center;
                }
            }
            .cartmainbottom_empty_main{
                height:3.8125rem;font-size:0.119125rem;line-height:3.8125rem;text-align:center;color:#9B9B9B;
                span{
                    border:0.03125rem solid #9B9B9B;display:inline-block;width:3.4375rem;margin-bottom:0.28125rem;
                }
                span:nth-child(1){margin-right:0.75rem;}
                span:nth-child(2){margin-left:0.75rem;}
            }
        }
    }  
    .cartfoot{
        height:2.75rem;
    }
}