<div class="cart">
    <header class="carthead">
        我的购物车
    </header>
    <main class="cartmain">
        <div class="cartmaintop">
            <div class="cartmaintop_common"><span>√</span>30天无忧退货</div>
            <div class="cartmaintop_common"><span>√</span>24小时快速发货</div>
            <div class="cartmaintop_common"><span>√</span>全场满88包邮</div>
        </div>
        <div class="cartmainbottom">
            <div class="cartmainbottom_empty">
                <div class="cartmainbottom_empty_top">
                    <img src="../../../assets/img/cart/cartempty.png"  alt="" />
                    <div>购物车该补货啦</div>
                    <span>去商城逛逛</span>
                </div>
                <div class="cartmainbottom_empty_main"><span></span>看看这些精品推荐<span></span></div>
            </div>
        </div>
    </main>
    <footer class="cartfoot">
        bbb
    </footer>
</div>