<div class="community">
	<div class="swiper-container gallery-thumbs">
    <div class="swiper-wrapper">
      <div class="swiper-slide" >推荐</div>
      <div class="swiper-slide" >最新</div>
      <div class="swiper-slide" >家饰</div>
      <div class="swiper-slide" >收纳</div>
      <div class="swiper-slide" >餐厨</div>
      <div class="swiper-slide" >家纺</div>
      <div class="swiper-slide" >家具</div>
    </div>
  </div>
  	<div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
      <div class="swiper-slide" >
	      <ul>
	        <li *ngFor="let obj of carthot1;let idx = index;">
	        		<img [src]="obj.userimgurl" alt="" class="tx"/>
	        		<div>{{obj.name}}</div>
	            <img [src]="obj.imgurl" alt=""  class="tx1" />
	             <i class="icon iconfont icon-good"></i>
                <div class="name">赞</div>
                <i class="icon iconfont icon-xin"></i>
                <div class="name"></div>
                <i class="icon iconfont icon-buoumaotubiao48"></i>
                <div class="name">评论</div>
	        </li>
	    	</ul>
      </div>
      <div class="swiper-slide" >
      	<ul>
	        <li *ngFor="let obj of carthot2;let idx = index;">
	        		<img [src]="obj.userimgurl" alt="" class="tx"/>
	        		<div>{{obj.name}}</div>
	            <img [src]="obj.imgurl" alt="" class="tx1"/>
	             <i class="icon iconfont icon-good"></i>
                <div class="name">赞</div>
                <i class="icon iconfont icon-xin"></i>
                <div class="name"></div>
                <i class="icon iconfont icon-buoumaotubiao48"></i>
                <div class="name">评论</div>
	        </li>
	    	</ul>
      </div>
      <div class="swiper-slide" >
      	<ul>
	        <li *ngFor="let obj of carthot3;let idx = index;">
	        		<img [src]="obj.userimgurl" alt="" class="tx"/>
	        		<div>{{obj.name}}</div>
	            <img [src]="obj.imgurl" alt="" />
	             <i class="icon iconfont icon-good"></i>
                <div class="name">赞</div>
                <i class="icon iconfont icon-xin"></i>
                <div class="name"></div>
                <i class="icon iconfont icon-buoumaotubiao48"></i>
                <div class="name">评论</div>
	        </li>
	    	</ul>
      </div>
      <div class="swiper-slide" >
      	<ul>
	        <li *ngFor="let obj of carthot4;let idx = index;">
	        		<img [src]="obj.userimgurl" alt="" class="tx"/>
	        		<div>{{obj.name}}</div>
	            <img [src]="obj.imgurl" alt="" class="tx1"/>
	             <i class="icon iconfont icon-good"></i>
                <div class="name">赞</div>
                <i class="icon iconfont icon-xin"></i>
                <div class="name"></div>
                <i class="icon iconfont icon-buoumaotubiao48"></i>
                <div class="name">评论</div>
	        </li>
	    	</ul>
      </div>
      <div class="swiper-slide" >
      	<ul>
	        <li *ngFor="let obj of carthot5;let idx = index;">
	        		<img [src]="obj.userimgurl" alt="" class="tx"/>
	        		<div>{{obj.name}}</div>
	            <img [src]="obj.imgurl" alt="" class="tx1"/>
	             <i class="icon iconfont icon-good"></i>
                <div class="name">赞</div>
                <i class="icon iconfont icon-xin"></i>
                <div class="name"></div>
                <i class="icon iconfont icon-buoumaotubiao48"></i>
                <div class="name">评论</div>
	        </li>
	    	</ul>
      </div>
      <div class="swiper-slide" >
      	<ul>
	        <li *ngFor="let obj of carthot6;let idx = index;">
	        		<img [src]="obj.userimgurl" alt="" class="tx"/>
	        		<div>{{obj.name}}</div>
	            <img [src]="obj.imgurl" alt="" class="tx1"/>
	             <i class="icon iconfont icon-good"></i>
                <div class="name">赞</div>
                <i class="icon iconfont icon-xin"></i>
                <div class="name"></div>
                <i class="icon iconfont icon-buoumaotubiao48"></i>
                <div class="name">评论</div>
	        </li>
	    	</ul>
      </div>
      <div class="swiper-slide" >
      	<ul>
	        <li *ngFor="let obj of carthot7;let idx = index;">
	        		<img [src]="obj.userimgurl" alt="" class="tx"/>
	        		<div>{{obj.name}}</div>
	            <img [src]="obj.imgurl" alt="" class="tx1"/>
	             <i class="icon iconfont icon-good"></i>
                <div class="name">赞</div>
                <i class="icon iconfont icon-xin"></i>
                <div class="name"></div>
                <i class="icon iconfont icon-buoumaotubiao48"></i>
                <div class="name">评论</div>
	        </li>
	    	</ul>
      </div>
    </div>
  </div>
</div>
