
.community {
    .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .gallery-top {
        height: 80%;
        width: 100%;
    }
    .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
        height: 100%;
        opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }
    .hd {
        z-index: 999;
        background: #fff;
        width: 100%;
        position: fixed;
        top:32px;
        .gallery-top {
            border-bottom: 6px solid #F2F1F0;
            .swiper-wrapper {
                position: relative;
                left: -137px;
                .swiper-slide {
                    background-color: #fff;
                    width: 62px;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                    font-size: 13px;
                    font-family: PingFangSC-Regular;
                    color: #777777;
                    position: relative;
                    overflow: hidden;
                }
            }
        }
    }
    .gallery-top .swiper-slide-active {
        border-bottom: 3px solid #000;
        opacity: 1;
    }
    .gallery-thumbs {
        padding-top: 58px;
        .swiper-wrapper {
            .swiper-slide {
                background-color: #fff;
                ul {
                    font-family: PingFangSC-Regular;
                    color: #777777;
                    //color: #777;
                    font-size: .77777778rem;
                    li {
                        padding-top: 13px;
                        width: 96%;
                        margin: 0 auto;
                        border-bottom: 6px solid #F2F1F0;
                        .tn {
                            margin-bottom: 10px;
                            margin-left: 5px;
                            line-height: 39px;
                            .tx {
                                border-radius: 50%;
                                display: inline-block;
                                vertical-align: middle;
                                width: 40px;
                                height: 40px;
                            }
                            .sp {
                                margin-left: 5px;
                                font-size: 16px;
                            }
                        }
                        .tx1 {
                            width: 96%;
                            margin: 0 auto;
                            height: 325px;
                            border-radius: 1.5%;
                        }
                        .dsp {
                            font-size: 15px;
                            margin-left: 8px;
                            height: 45px;
                            line-height: 45px;
                            .iconfont {
                                font-size: 22px;
                            }
                            .iconfont:hover{
                            color: yellow;
                            }
                            #dsc_1 {
                                border: none;
                                height: 15px;
                                width: 50px;
                                padding-right: 25px;
                            }
                        }
                        .fb {
                            padding-top: 9px;
                            padding-bottom: 30px;
                            border-top: 2px solid #F2F1F0;
                        }
                    }
                    li:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}