
<div id="home">
    <div class="homeheader">   
        <div class="search1">
          <div class="sd">
            <span class="cz">创  质</span>
            <span class="tp" ><i class="iconfont icon-fangdajing"></i></span>
            <input placeholder="搜索商品，帖子和用户"(click)="aa()" />
          </div>
        </div>
        <div class="gds"> 
        </div>
        <ul *ngIf="selectHome"class="typelist">
            <li (click)="selector($event)"class="li">推荐</li>
            <li *ngFor ="let obj of selectHome"(click)="selectList(obj['categoryId'],$event)"class="li">{{obj['category']}}</li>
        </ul>
    </div>
        <div class="show">
        <app-carousel></app-carousel>
        <app-new-product></app-new-product>
        <app-show-product></app-show-product>
        <div>
            <h3>猜你喜欢</h3>
            <div *ngIf="homeShow">
                <div *ngFor ="let obj of homeShow;let id =idx;"(click)="turns(obj.id)">
                    <div class="showsImg">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide"> 
                              <img src="{{obj['imgurl']}}" alt=""class="navImg" />
                            </div>
      
                        </div>
                        <div class="swiper-pagination"></div>
                      </div>
                    </div>
                    <div class="homecenter">
                         <div class="homename">{{obj['proName']}}</div>
                         <div class="size">1.{{obj['size']}}</div>
                         <div class="recommend">2.{{obj['recommend']}}</div>
                         <div class="overflow">
                             <div class="price">{{obj['price'] ? obj['price'].split(',')[0] :[] }}</div>
                             <button class="homebuyBtn">购买</button>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="selectshow"class="selecttype">
        <img src="{{Imgs}}" alt=""class="Imgs" />
        <div class="Imgss">
            <div *ngFor ="let obj of selectshow"class="homecate">
                <div>
                  <img src="{{obj['imgurl']}}" alt=""class="goodsImg"(click)="turn(obj.id)" />
                </div>
                <div class="proName">{{obj['proName']}}</div>
                <div class="price">{{obj['price'].split(',')[0]}}</div>
            </div>
        </div>
    </div>
    <footer>  
    </footer>
</div>
