.typelist li{
    float:left;
    width:16%;
}
#home{
    .selecttype{
        padding-top:50px;
        .Imgss{
            padding-left:18px;
            padding-top:10px
        }
    }
    overflow-x: hidden;
    .show{
        h3{
            height:80px;
          line-height:80px;
          text-align:center;
          font-size:17px;
          font-weight:900;
        }
    }
    .homeheader{
         top:0;
        z-index:999;
        background:#fff;
        width: 100%;
        position:fixed;
        .typelist{
             height:50px;
            background: #ffffff;
            border-bottom: 1px solid #f6f6f6;
            overflow:hidden;
            line-height:50px;
            text-align:center;
        }
    }
    .showsImg{
        .navImg{
            width:100%;
            height:300px;
        }
    }
    .homemain{
        height:500px;
    }
    .price{
        color:red;
    }
    .price:before{
      content:"¥"
    }
    .homecate{
        height:250px;
        width:49%;
          float:left;
    }
    .goodsImg{
        width:165px;
        height:180px;
    }
    .homeshowImg,.homecenter{
         width:90%;
         margin:auto;
        height:250px;
    }
    .homecenter{
        .homename{
            padding:10px 0;
            font-size:18px;
            font-weight:900
        }
        .recommend,.size,.price{
            font-size:14px;
            padding:3px 0;
        }
        .overflow{
            overflow:hidden;
            .price{
                float:left;
            }
            button{
                width:80px;
                height:30px;
                line-height:30px;
                text-align:center;
                float:right;
            }
        }

    }
}