<div class="reglogin">
    <span class="iconfont icon-guanbi-01"></span>
    <div class="regloginlogo">
        <h1>创&nbsp;质</h1>
        <p>创造最好的品质</p>
    </div>
    <div class="reglogin_thirdLogin">
        <div class="weiboLogin">
            <span>
                <i class="iconfont icon-weibo"></i>
                微博登录
            </span>
        </div>
        <div class="wechatLogin">
            <span>
                <i class="iconfont icon-ai-weixin"></i>
                微信登录
            </span>
        </div>
    </div>
    <div class="reglogin_reg">
        <a routerLink="/phonecode">手机号码注册</a>
    </div>
    <p class="reglogin_login">
        <a routerLink="/login">已有创质账号？
            <strong>请登录</strong>
        </a>
    </p>
</div>