.newAddress{
    display:flex;flex-direction:column;height:100%;
    .newAddress_top{
        height:2.65625rem;display:flex;line-height:2.65625rem;justify-content:space-between;font-size:0.875rem;border-bottom:0.03125rem solid #F4F3F2;padding:0 0.84375rem;
        .icon-shangyiye{margin-right:0.2125rem;}
    }
    .newAddress_main{
        #last{
            height:7.5rem;
        }
        li{
            height:2.5rem;
            line-height:2.5rem;
            border-bottom:1px solid #ccc;
            overflow:hidden;
            label{
                padding-left:0.625rem;
                float:left;
                width:5.625rem;
                height:2.5rem;
                padding-right:1.5625rem;
            }
            input{
                border:0;
                float:left;
                height:2.5rem;
            }
        }
    }
    footer{
        height:2.5rem;display:flex;align-items:center;
        input{vertical-align:middle;margin:0 0.8125rem;}
    }
}
