.search_box{
    .search{
        span{background-color: #F5F1EE;border-radius:6px;padding: 10px 0;line-height: 24px;
            i{
                background-color: #F5F1EE;
            }
            input{background-color: #F5F1EE;
                border:0 none;
            }
        }
    }
}