<div id="detail">
    <div class="head" *ngIf="headShow">
        <i class="goback iconfont icon-fanhui" (click)="goBack()"></i>
        <i class="share iconfont icon-share"><span>分享赚钱</span></i>
    </div>
    <div class="head2" *ngIf="headShow2">
        <div class="goback2" (click)="goBack()"><i class="iconfont icon-fanhui"></i><span>返回</span></div>
        <span>商品详情</span>
        <i class="share2 iconfont icon-share"></i>
    </div>
    <div class="detail-container" (scroll)="scroll_c($event)">
        <div class="swiper-container">  
            <div class="swiper-wrapper">  
                <img class="swiper-slide" *ngFor= "let item of groundImg" src={{item}}/>  
            </div>  
            <div class="swiper-pagination"></div>
        </div>
        <div class="product-top">
            <div class="phoroduct-name">{{dataset['proName']}}</div>
            <div class="product-price">{{price | currency: 'CNY':'2.2-2'}}</div>
            <div class="wuliu" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
                <div class="col-4">
                    <i class="iconfont icon-gouhao"> 30天无忧退货 </i>
                </div> 
                <div class="col-4">
                    <i class="iconfont icon-gouhao"> 24小时内发货 </i>
                </div> 
                <div class="col-4">
                    <i class="iconfont icon-gouhao"> 满88全场包邮 </i>
                </div>
            </div>
            <div class="selecter clearfix" (click)="selecterCategroy()"> 
                <p>规格数量<span><i class="iconfont icon-jia"></i></span></p> 
            </div>
            <div class="categroy" *ngIf="categroyShow">
                <div class="backdrop"></div>
                <div class="selecterBox">
                    <div class="selecterBox-top">
                        <p>请选择数量与规格<span (click)="close()">&times;</span></p>
                    </div>
                    <div class="selecterItem">
                        <div class="item-content clearfix"> 
                            <div class="img-box"> 
                                <img src={{groundImg[currentImgIdx]}}/>
                            </div> 
                            <div class="content-box"> 
                                <div class="price-text">{{currentSizePrice | currency: 'CNY':'2.2-2'}}</div> 
                                <div class="tip" *ngIf="tip.length == 0"> 请选择数量与规格 </div> 
                                <div class="tip" *ngIf="tip.length>0"> 已选择：{{tip[0]}} {{tip[1]}} </div> 
                            </div>
                            <div class="select-box"> 
                                <span class="select-btn stockCountSub" (click)="stockCountSub()">-</span> 
                                <input class="select-btn select-num" type="text" value="{{count}}" readonly="readonly"> 
                                <span class="select-btn stockCountAdd" (click)="stockCountAdd()">+</span> 
                            </div>
                        </div>
                        <div class="list-box">
                            <div class="item-title" *ngIf="size && size.length>0">类型</div>
                            <ul *ngIf="size && size.length>0">
                                <li *ngFor="let item of size; let idx = index" (click)="addSize(idx, $event)" [class.actived]="currentSizeIdx == idx">{{item}}</li>
                            </ul>
                        </div>
                        <div class="list-box">
                            <div class="item-title" *ngIf="color && color.length>0">颜色</div>
                            <ul *ngIf="color && color.length>0">
                                <li *ngFor="let item of color; let idx = index" (click)="addColor(idx, $event)" [class.actived]="currentColorIdx == idx">{{item}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recommend"> 
                <p>推荐理由</p> 
                <p>{{dataset['recommend']}}</p> 
            </div>
            <div class="graphics" *ngFor="let item of graphics"> 
                <img src={{item}}> 
            </div>
        </div>
        <div class="container-bottom"></div>
    </div>
    <div class="bottom-toolbar">
        <div class="btn-bar1">
            <i class="iconfont icon-serve"></i>
            <i class="iconfont icon-gouwuche" (click)="gotoCart()"><span class="cartTips" *ngIf="tipCount && tipCount != 0">{{tipCount}}</span></i>
        </div>    
        <div class="btn-bar2"> 
            <input id="addCart" type="button" class="have-btn1" value="加入购物车" (click)="addtoCart()"> 
            <input id="buyNow" type="button" class="have-btn2" value="立即购买" (click)="gotoOrder()"> 
        </div>
    </div>
</div>