<div class="swiper-container">  
    <div class="swiper-wrapper">  
        <img class="swiper-slide" *ngFor= "let item of groundImg" src={{item}}/>  
    </div>  
    <div class="swiper-pagination"></div>
</div>
<div class="product-top">
    <div class="phoroduct-name">{{dataset['proName']}}</div>
    <div class="product-price">{{price | currency: 'CNY':'2.0-0'}}</div>
    <div class="wuliu" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
        <div class="col-4">
            <i class="iconfont icon-gouhao"> 30天无忧退货 </i>
        </div> 
        <div class="col-4">
            <i class="iconfont icon-gouhao"> 24小时内发货 </i>
        </div> 
        <div class="col-4">
            <i class="iconfont icon-gouhao"> 满88全场包邮 </i>
        </div>
    </div>
    <div class="selecter clearfix"> 
        <p>规格数量<span class="fr"> > </span></p> 
    </div>
    <div class="recommend"> 
        <p>推荐理由</p> 
        <p>{{dataset['recommend']}}</p> 
    </div>
    <div class="graphics" *ngFor="let item of graphics"> 
        <img src={{item}}> 
    </div>
</div>
<section class="bottom-toolbar" ng-if="product.status != 3"> <!-- ngIf: product.stockCount > 0 --><div class="btn-bar ng-scope" ng-if="product.stockCount > 0"> <input id="addCart" type="button" class="have-btn2" value="加入购物车" ng-click="bottomToolbar.addCart()"> <input id="buyNow" type="button" class="have-btn1" value="立即购买" ng-click="bottomToolbar.buyNow()"> </div><!-- end ngIf: product.stockCount > 0 --> <!-- ngIf: product.stockCount == 0 && product.activityType != 1 --> <!-- ngIf: product.stockCount == 0 && product.activityType == 1 --> </section>