<div class="userpage">
    <!-- <srollTop>封装</srollTop> -->
    <div class="user-content">
        <!-- 用户信息 -->
        <div class="user-personal">
            <div class="user-photo">
                <img src="../../../assets/images/default-user.png" />
            </div>
            <div class="user-name">6666</div>
            <div class="user-message">
                <a routerLink="/user/usermsg">点击此处更改个人描述</a>
            </div>
        </div>
        <!-- 订单 -->
        <div class="user-dingdan">
            <div class="user-mydingdan">
                <span>我的订单</span>
                <span>
                    <a routerLink="userdingdan">查看全部订单</a>
                </span>
            </div>
            <div class="user-dingdanNav">
                <ul>
                    <li>
                        <i class="iconfont icon-icon-test"></i>
                        待付款
                    </li>
                    <li>
                        <i class="iconfont icon-icon2"></i>
                        待发货
                    </li>
                    <li>
                        <i class="iconfont icon-yifahuo"></i>
                        已发货
                    </li>
                    <li>
                        <i class="iconfont icon-wallet-success"></i>
                        已完成
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
