<div class="userset">
    <div class="userset-title">
        <getback></getback>
        <span>设置</span>
    </div>
    <div class="userset-content">
        <ul>
            <li class="user-head">
                <span>头像</span>
                <span>
                    <img [src]="usersetImg"/>
                </span>
            </li>
            <li>
                <a routerLink="**">
                    <span>修改用户名</span>
                    <span>
                        <i class="iconfont icon-fanhui"></i>
                    </span>
                </a>
            </li>
            <li>
                <a routerLink="**">
                    <span>更换手机号</span>
                    <span>
                        <i class="iconfont icon-fanhui"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="userset-exit" (click)="tuichu()">退出</div>
</div>
