  .newProduct .swiper-container{
    width:100%;
    height:240px;
    font-size:16px;

  }
  .newProduct {
    .first-show{
      height:80px;
      line-height:80px;
      text-align:center;
      font-size:17px;
      font-weight:900;
    }
    img{
    width:140px;
    height:160px;
    }
    .proName{
      font-size:13px;
      height:60px;
      padding-top:5px;
      padding-bottom:5px;
    }
    .price{
        height:30px;
        color:red;
    }
    .price:before{
      content:"¥"
    }

  }
  .newProduct .swiper-slide {
       height:260px;
    width:140px;
      text-align: center;
      font-size: 18px;
      background: #fff;
    }
