.regpwdPage{
    width: 100%;height:100%;position: relative;overflow: hidden;
}
.regpwd-title{
    display: flex;padding:0.5rem 0;border-bottom: 0.05rem solid #e7e3e3;justify-content: center;align-items: center;
    span{
        font-size:1rem;letter-spacing: 0.125rem;
    }
}
%pwdBrand{
    margin-top: 0.625rem;
    h1{
        display: flex;justify-content: center;letter-spacing:0.3125rem;font-size:2rem;font-weight: 500;
    }
}
.regpwd-content{
    @extend %pwdBrand;
}
.regpwd-content-input{
    padding:0 1.875rem;
}
.regpwd-input-phone,.regpwd-input-pwd{
    margin-top:1.25rem;border-bottom: 0.125rem solid #eaeaea;padding-bottom:0.3125rem;position: relative;
    i{
        position: absolute;left:0.125rem;bottom:0.075rem;font-size:1.3rem;
    }
    input{
        color:#a4a4a4;border:none;outline: none;background-color: transparent;padding-left: 1.75rem;width: 100%;line-height:1.25rem;
    }
    span{
        position: absolute;right:0.125rem;bottom:0.075rem;font-size:1.1rem;color:#dddddd;
    }
    .pwdInputA{
        width:70%;
    }
}
.regpwd-deal{
    margin-top:0.625rem;color:#9C9C9C;
}
.regpwd-submit{
    width: 100%;padding:0.5rem 0;text-align:center;background: #FFD914;border-radius: 0.3125rem;margin-top:0.625rem;border:none;outline: none;color:#9C9C9C;
}
%Input {
    position: absolute;bottom:0.5rem;width:1rem;height:1rem;border-radius: 50%;background: #a7a7a7;color:#ffffff;text-align:center;font-style:inherit;line-height: 0.9rem;
}
.InputClearPwdA{
    right:0.2rem;@extend %Input;
}
.InputClearPwdB{
    right: 1.5rem;@extend %Input;
}
