<div class="carousel">  
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"*ngFor="let obj of carousel"><img src="{{obj['imgurl']}}"(click)="turn(obj.id)" />
            </div> 
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
    </div>
    <div class="carousel-footer"(click)="notification()">
        <i class="icon iconfont icon-youxiang"></i>
        <span class="carousel_l">好物公告</span><span class="carousel_r">关于退换货服务</span>
    </div>
</div>
