.carousel .swiper-container{
    width:100%;
}
 .carousel .swiper-container img{
    width:100%;
    height:300px;
 }
 .carousel{
    padding-top:72px;
    .carousel-footer{
        background-color: #f5e69c;
        height:30px;     
        line-height:30px;
        i{
            padding-left:5%;
        }
        .carousel_l{
            padding:5px;
            font-weight:900;
        }
    }
 }
   .carousel .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }