<div class="footerBottom">
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active">
                <i class="iconfont icon-shangcheng"></i>
                商城
            </a>
        </li>
        <li>
            <a routerLink="/community" routerLinkActive="active">
                <i class="iconfont icon-shequ"></i>
                社区
            </a>
        </li>
        <li>
            <a routerLink="/car" routerLinkActive="active">
                <i class="iconfont icon-gouwuche"></i>
                购物车
            </a>
        </li>
        <li>
            <a routerLink="/user" routerLinkActive="active">
                <i class="iconfont icon-wode"></i>
                我的
            </a>
        </li>
    </ul>
</div>